@value values: "../../styles/values.css";
@value spacing, moreSpacing from values;

.teamGrid {
  display: grid;
  grid-gap: spacing;
}
@media (min-width: 600px) and (max-width: 940px) {
  .teamGrid {
    padding: moreSpacing;
    
  }
}
@media screen and (min-width: 600px) {
  .teamGrid {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: moreSpacing;

  }
}
