@value values: "../../styles/values.css";
@value spacing from values;


.playerStats {
  font-size: 1rem;
  width: 100%
}

.playerStatNumber {
  min-width: 3em;
  font-weight: 500;
  text-align: right;
  padding-right: spacing;
}
.playerStatLabel {
  width: 100%;
}