@value values: "../../styles/values.css";
@value spacing from values;

.statsCard {
  display: grid;
  grid-gap: spacing;
}

.playerStats {
  font-size: 1rem;
  grid-gap: spacing;
}

.playerStatLabel {
  width: 50%;
  font-weight: 500;
  text-align: right;
  padding-right: spacing;
}
